.starbox span {
    float: left;
    width: 27px;
    height: 28px;
    display: inline-block;
    background: url(images/star.gif) no-repeat 0px 0px;
    cursor: pointer;
}

.starbox strong {
    float: left;
    padding-top: 6px;
    padding-left: 10px;
}

.starbox .on {
    background-position: 0px -29px;
}